%html
	%body
		%a{:href => "/"} Top
		%p
		%a{:href => "/search?component_type=#{@component_type}"} #{@component_type}
		%p
		%a{:href => "/logout"} Logout
		%p
		%table
			%tbody
				%tr
					%th Id
					%th Name
				- @results.each do |result|
					%tr
						%td #{result.Id}
						%td #{result.Name}
